extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='addressId') Id
      .col-sm-7
        input.form-control(type='text', name='addressId', id='addressId', value=user.addressId, readonly)
    .form-group
      label.col-sm-3.control-label(for='balance') Balance
      .col-sm-7
        input.form-control(type='text', name='balance', id='balance', value=user.balance + ' NAS', readonly)
    .form-group
      label.col-sm-3.control-label(for='wins') Wins
      .col-sm-7
        input.form-control(type='text', name='wins', id='wins', value=user.profile.location)
    .form-group
      label.col-sm-3.control-label(for='loses') Loses
      .col-sm-7
        input.form-control(type='text', name='loses', id='loses', value=user.profile.website)
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Profile
